<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

# Hands-on Lab: Create your Jupyter Notebook

#### Add your code below following the instructions given in the course

# Data Science Tools and Ecosystem

 In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SCALA
4. JAVA

Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Pandas
3. Seaborn
4. Scikit-learn
5. Tensorflow

|   **Data Science Tools**    |
|-----------------------------|
| Jupyter Notebook            |
| RStudio                     |
| Apache Zeppelin             |

### Below are a few examples of evaluating arithmetic expressions in Python
1. **Addition**: `5 + 3 = 8`
2. **Subtraction**: `10 - 4 = 6`
3. **Multiplication**: `7 * 6 = 42`
4. **Division**: `15 / 3 = 5.0`
5. **Floor Division**: `17 // 3 = 5`
6. **Modulus (Remainder)**: `17 % 3 = 2`
7. **Exponentiation**: `2 ** 3 = 8`

In [4]:
# This is a simple arithmetic expression to multiply 3 by 4 and then add 5
result = (3 * 4) + 5
print(result)

17

In [5]:
# This will convert 200 minutes to hours by dividing by 60
hours = 200 / 60
hours

3.3333333333333335

**Objectives:**

- Convert minutes to hours using basic mathematical operations
- Learn how to insert and run code cells in a notebook
- Understand how to use markdown cells for explanations and objectives
- Use comments in code for clarity
- Practice using basic Python syntax for data conversion tasks

## Author

Neha Gupta

Copyright Â©2024 IBM Corporation. All rights reserved.